<% provide(:title, @user.name) %>
<div class="row">
  <div class="col-md-1">
  
  </div>
  
  <aside class="col-md-3">
    <section class="user_info">
      <h1>
        <% if @user.image? %>
          <%= image_tag @user.image.url, class: "user_image" %>
        <% else %>
          <%= image_tag asset_path('default.jpeg', :width =>'50', :height =>'50', :alt => '画像'), class: "user_image" %>
        <% end %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  
  <div class="col-md-7">
    <% if @user.microposts.any? %>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
  
  <div class="col-md-1">
    
  </div>
</div>